*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  /* margin:auto; */
}

h1{
  text-align: center;
  padding: 30px;
}
.btn{
  width:100px;
  height: 30px;
  margin:5px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}

.selected,
.selectedRegion,
.selectedStat{
  border: 2px solid black;
  background-color: rgba(54, 162, 235, 0.2);
}

.statType{
  height: 50px;
}

.mainSection{
  margin-top: 50px;
}

.chartContainer{
  width: 80vw;
}

#countries{
  display: none;
  height: 30px;
  margin:6px 0;
}

.loading{
  height: 100vh;
  width:100vw;
  background: url("/img/loading.png") no-repeat center center/contain;
  background-size: 100px 100px; 
  animation: 2s loading linear infinite;
  z-index: 100;
}

@keyframes loading{
  to{transform: rotate(360deg);}
}

.flex{
  display: flex;
  justify-content: center;
}

.flexCol{
  display:flex;
  flex-direction: column;
}

.statTypeContainer{
  margin: 30px;
}

.countryStat{
  padding:30px;
  height: 50px;
}
.countryS{
  border-right: 1px solid black;
  height: 50px;
  padding: 10px 30px;
  background-color: rgba(54, 162, 235, 0.2);
}
.countryS img{
  height: 20px;
  width:30px;
}
.countryStat:last-child{
  border-right: none;
}
